<a href="https://colab.research.google.com/github/kroy900/batch.scripts/blob/master/s_r_ver1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 22.9 MB/s
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [3]:
pip install talib-binary

Collecting talib-binary
  Downloading talib_binary-0.4.19-cp37-cp37m-manylinux1_x86_64.whl (2.4 MB)
     |████████████████████████████████| 2.4 MB 16.1 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from talib-binary) (1.21.6)
Installing collected packages: talib-binary
Successfully installed talib-binary-0.4.19

In [75]:
import pandas as pd
import numpy as np
import pandas_ta as ta
import yfinance
from talib import RSI

In [80]:
name = 'BEL.NS'
ticker = yfinance.Ticker(name)
df = ticker.history(interval="1d",start="2020-03-15", end="2022-04-27")
df['Open'] = df['Open'].round(3)
df['High'] = df['High'].round(3)
df['Low'] = df['Low'].round(3)
df['Close'] = df['Close'].round(3)
df.tail()

              Open    High     Low   Close    Volume  Dividends  Stock Splits
Date
2022-04-20  252.70  255.60  250.60  253.30  10467609        0.0             0
2022-04-21  254.45  258.70  251.90  252.90  10700831        0.0             0
2022-04-22  252.45  256.65  250.85  251.65   4675141        0.0             0
2022-04-25  250.00  250.00  242.75  245.80   5329564        0.0             0
2022-04-26  247.05  253.40  247.00  250.50   5485187        0.0             0

In [15]:
pip install pandas_ta

Requirement already satisfied: pandas_ta in /usr/local/lib/python3.7/dist-packages (0.3.14b0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_ta) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)

In [18]:
help(ta.hma)

Help on function hma in module pandas_ta.overlap.hma:

hma(close, length=None, offset=None, **kwargs)
    Hull Moving Average (HMA)

    The Hull Exponential Moving Average attempts to reduce or remove lag in moving
    averages.

    Sources:
        https://alanhull.com/hull-moving-average

    Calculation:
        Default Inputs:
            length=10
        WMA = Weighted Moving Average
        half_length = int(0.5 * length)
        sqrt_length = int(sqrt(length))

        wmaf = WMA(close, half_length)
        wmas = WMA(close, length)
        HMA = WMA(2 * wmaf - wmas, sqrt_length)

    Args:
        close (pd.Series): Series of 'close's
        length (int): It's period. Default: 10
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: New feature generated.

In [82]:
from numpy.ma.core import harden_mask
# def EMA fast and slow parameters
fast = 5
slow = 12

# HMA fast and slow calculation
df['src1'] = ta.hma(df['Open'], fast).shift(1).round(2)
df['src2'] = ta.hma(df['Close'], slow).round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2
Date,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27

In [83]:
df['momm1'] = df.src1 - df.src1.shift(1)
df['momm2'] = df.src2 - df.src2.shift(1)
df['momm1'] = df['momm1'].round(2)
df['momm2'] = df['momm2'].round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2
Date,,,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80,6.19,1.48
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13,3.59,0.33
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,-0.38
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46,-1.86,-2.29
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27,-3.32,-2.19

In [57]:
def compare_values1(m,n):
  if m >= n:
    return m
  else:
    return 0.0

In [58]:
def compare_values2(m,n):
  if m >= n:
    return 0.0
  else:
    return -m

In [84]:
df['m1'] = df[['momm1' , 'momm2']].apply(lambda x: compare_values1(x['momm1'],x['momm2']),axis=1)
df['m2'] = df[['momm1' , 'momm2']].apply(lambda x: compare_values2(x['momm1'],x['momm2']),axis=1)

df['m1'] = df['m1'].round(2)
df['m2'] = df['m2'].round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2
Date,,,,,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80,6.19,1.48,6.19,0.00
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13,3.59,0.33,3.59,0.00
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,-0.38,0.00,0.57
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46,-1.86,-2.29,-1.86,0.00
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27,-3.32,-2.19,0.00,3.32

In [60]:
def percentage_calc(nom,div):
  return nom/div * 100

In [85]:
df['sm1'] = df.m1 - df.m2
df['sm2'] = df.m1 + df.m2

df['sm1'] = df['sm1'].round(2)
df['sm2'] = df['sm2'].round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2,sm1,sm2
Date,,,,,,,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80,6.19,1.48,6.19,0.00,6.19,6.19
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13,3.59,0.33,3.59,0.00,3.59,3.59
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,-0.38,0.00,0.57,-0.57,0.57
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46,-1.86,-2.29,-1.86,0.00,-1.86,-1.86
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27,-3.32,-2.19,0.00,3.32,-3.32,3.32

In [86]:
df['cmo'] = df[['sm1' , 'sm2']].apply(lambda x: percentage_calc(x['sm1'],x['sm2']),axis=1)

df['cmo'] = df['cmo'].round(2)
df.tail()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: invalid value encountered in double_scalars

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2,sm1,sm2,cmo
Date,,,,,,,,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80,6.19,1.48,6.19,0.00,6.19,6.19,100.0
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13,3.59,0.33,3.59,0.00,3.59,3.59,100.0
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,-0.38,0.00,0.57,-0.57,0.57,-100.0
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46,-1.86,-2.29,-1.86,0.00,-1.86,-1.86,100.0
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27,-3.32,-2.19,0.00,3.32,-3.32,3.32,-100.0

In [87]:
#df['h'] = max(df.High , df.High.shift(1), axis=1)
df['h'] = df['High'].rolling(2).max().round(2)
df['l'] = df['Low'].rolling(2).min().round(2)

df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2,sm1,sm2,cmo,h,l
Date,,,,,,,,,,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80,6.19,1.48,6.19,0.00,6.19,6.19,100.0,259.50,248.05
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13,3.59,0.33,3.59,0.00,3.59,3.59,100.0,258.70,250.60
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,-0.38,0.00,0.57,-0.57,0.57,-100.0,258.70,250.85
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46,-1.86,-2.29,-1.86,0.00,-1.86,-1.86,100.0,256.65,242.75
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27,-3.32,-2.19,0.00,3.32,-3.32,3.32,-100.0,253.40,242.75

In [88]:
# def SMA parms
len5 = 2

# SMA  calculation
df['sma_h'] = ta.sma(df['h'], len5).round(2)
df['sma_l'] = ta.sma(df['l'], len5).round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2,sm1,sm2,cmo,h,l,sma_h,sma_l
Date,,,,,,,,,,,,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80,6.19,1.48,6.19,0.00,6.19,6.19,100.0,259.50,248.05,259.50,246.15
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13,3.59,0.33,3.59,0.00,3.59,3.59,100.0,258.70,250.60,259.10,249.32
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,-0.38,0.00,0.57,-0.57,0.57,-100.0,258.70,250.85,258.70,250.72
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46,-1.86,-2.29,-1.86,0.00,-1.86,-1.86,100.0,256.65,242.75,257.68,246.80
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27,-3.32,-2.19,0.00,3.32,-3.32,3.32,-100.0,253.40,242.75,255.03,242.75

In [89]:
# ta.dev calculation
df['dev_h'] = df['sma_h'].sub(df['h'], axis = 0).round(2)
df['dev_l'] = df['l'].sub(df['sma_l'], axis = 0).round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,...,m2,sm1,sm2,cmo,h,l,sma_h,sma_l,dev_h,dev_l
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80,6.19,...,0.00,6.19,6.19,100.0,259.50,248.05,259.50,246.15,0.00,1.90
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13,3.59,...,0.00,3.59,3.59,100.0,258.70,250.60,259.10,249.32,0.40,1.28
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,...,0.57,-0.57,0.57,-100.0,258.70,250.85,258.70,250.72,0.00,0.13
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46,-1.86,...,0.00,-1.86,-1.86,100.0,256.65,242.75,257.68,246.80,1.03,-4.05
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27,-3.32,...,3.32,-3.32,3.32,-100.0,253.40,242.75,255.03,242.75,1.63,0.00

In [95]:
# compare dev & sma values
import math
def dev_sma_comp1(a,b):
  if a > 0:
    return 'NaN'
  else:
    return b

In [96]:
df['h1'] = df[['dev_h' , 'h']].apply(lambda x: dev_sma_comp1(x['dev_h'],x['h']),axis=1)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,...,sm1,sm2,cmo,h,l,sma_h,sma_l,dev_h,dev_l,h1
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-20,252.70,255.60,250.60,253.30,10467609,0.0,0,252.85,256.80,6.19,...,6.19,6.19,100.0,259.50,248.05,259.50,246.15,0.00,1.90,259.5
2022-04-21,254.45,258.70,251.90,252.90,10700831,0.0,0,256.44,257.13,3.59,...,3.59,3.59,100.0,258.70,250.60,259.10,249.32,0.40,1.28,NaN
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,...,-0.57,0.57,-100.0,258.70,250.85,258.70,250.72,0.00,0.13,258.7
2022-04-25,250.00,250.00,242.75,245.80,5329564,0.0,0,254.01,254.46,-1.86,...,-1.86,-1.86,100.0,256.65,242.75,257.68,246.80,1.03,-4.05,NaN
2022-04-26,247.05,253.40,247.00,250.50,5485187,0.0,0,250.69,252.27,-3.32,...,-3.32,3.32,-100.0,253.40,242.75,255.03,242.75,1.63,0.00,NaN